<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.167</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Used to photo documents</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Used to photo documents</string>
	<key>UIAppFonts</key>
	<array>
		<string>SF-UI-Display-Bold.otf</string>
		<string>SF-UI-Display-Regular.otf</string>
		<string>SF-UI-Display-Medium.otf</string>
		<string>SF-UI-Display-Semibold.otf</string>
		<string>GothamHTF-BlackItalic.otf</string>
		<string>GothamHTF-UltraItalic.otf</string>
		<string>GothamHTF-XLightItalic.otf</string>
		<string>GothamHTF-ThinItalic.otf</string>
		<string>GothamHTF-Black.otf</string>
		<string>GothamHTF-BoldItalic.otf</string>
		<string>GothamHTF-BookItalic.otf</string>
		<string>GothamHTF-Bold.otf</string>
		<string>GothamHTF-Ultra.otf</string>
		<string>GothamHTF-LightItalic.otf</string>
		<string>GothamHTF-Medium.otf</string>
		<string>GothamHTF-XLight.otf</string>
		<string>GothamHTF-Thin.otf</string>
		<string>GothamHTF-Light.otf</string>
		<string>GothamHTF-BoldCondensed.otf</string>
		<string>GothamHTF-Book.otf</string>
		<string>GothamHTF-MediumCondensed.otf</string>
		<string>GothamHTF-BookCondensed.otf</string>
		<string>GothamHTF-LightCondensed.otf</string>
		<string>SF-UI-Display-Light.otf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile~ipad</key>
	<string>Main</string>
	<key>UIMainStoryboardFile~iphone</key>
	<string>iPhoneStoryboard</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
